td{
    background-color:#6666ff;
    border: 2px solid #000;
    padding: 30px;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
    font-family: Verdana;
    text-align: center;
    border-radius: 5px;
}
#bottom_ac{
    background-color: #ff3333;
}
#bottom_ac:hover{
    background-color: #b30000;
}
#bottom_op{
    background-color: #0000b3;
}
#bottom_op:hover{
    background-color: #000066;
}

table{
    background-color: #b3b3ff;
    padding: 10px;
    border: 2px solid;
    position: absolute; 
    left: 480px;
    top: 80px;
    border-radius: 5px;
}
#recebe2{
    color: #ccccff;
    text-align: right;
    border-left: 0px;
    padding-left: 0px;
    cursor: context-menu;
    background-color: #000033;
    border-radius: 0px;
}
#recebe{
    color: #ccccff;
    text-align: left;
    height: 40px;
    border-right: 0px;
    padding-right: 0px;
    cursor: context-menu;
    background-color: #000033;
    border-radius: 0px;
    font-size: 30px;
}
#bottom:hover{
    background-color: #3333ff   ;
}
p{
    text-align: right;
    position: absolute;
    top: 580px;
}